* {
  font-family:'Open Sans';
}

body {
  background-color:#303461;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-bg {
  background-image:url("/public/images/logolight.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:top left;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  min-height:100vh;
  opacity:.02;
}

.white-ellipse {
  background-color: #fff;
  border-radius:100%;
  width:150px;
  height:150px;
  position:absolute;
  top:10%;
  right:-75px;
}

.yellow-ellipse {
  background-color: #ffee02;
  border-radius:100%;
  width:120px;
  height:120px;
  position:absolute;
  top:25%;
  left:-60px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white {
  color:#fff;
}

.grey {
  color:grey;
}

.dark {
  color:#1c1f42;
}

.whitebtn {
  padding:5px 15px;
  color:#1c1f42;
  background-color: #fff;
  border-radius:4px;
  border:1px solid #fff;
  font-size:16px;
}

.loginform {
  width:100%;
  margin-top:200px;
  z-index:1;
  position: relative;
  max-width:500px;
}

.loginform h3 {
  color:#fff;
  font-size:30px;
  font-weight:500;
}

.loginform p {
  color:#fff;
  font-size:12px;
  font-weight:100;
  margin-bottom:0px;
}

.forgotpass {
  margin-bottom:15px;
  cursor: pointer;
}

.form-control {
  margin-top:30px;
}

.loginform .form-control {
  margin-top:10px;
  margin-bottom:20px;
}

.loginform input {
  border:none;
  background-color:#fff!important;
  padding:12px 10px;
  width:100%;
  border-radius: 8px;
  padding-right:0px;
}

.loginform button {
  cursor:pointer;
  border:none;
  background-image: linear-gradient(#ffee02, #9b9001 );
  color:#fff;
  font-size:12px;
  border-radius:5px;
  width:100%;
  padding:15px 10px;
  margin-top:10px;
}

.loginform .seepass span{
  position: absolute;
  bottom:95px;
  right:0px;
  cursor:pointer;
}

.title {
  color:#100C57;
  font-size:24px;
  font-weight:600;
  line-height:36px;
  font-family:Poppins;
  margin-bottom:20px;
}

.dark-header {
  background: #30355D;
  border: 1.41935px solid #30355D;
  border-radius: 8px 8px 0px 0px;
  padding:15px 21px;
}

.light-header {
  background: #FFFCE4;
  border: 1.41935px solid #FFFCE4;
  border-radius: 0px 0px 8px 8px;
  padding:21px;
}

.dark-header h4 {
  color:#fff;
  font-size:19px;
  font-weight:500;
  line-height: 28px;
  font-family:Poppins;
  margin-top:0px;
  margin-bottom:10px;
}

.dark-header p {
  color:#fff;
  font-size:12px;
  font-weight:500;
  line-height: 18px;
  font-family:Poppins;
  margin:0px;
}

.light-header h6 {
  color:#333542;
  font-size:14px;
  font-weight:300;
  line-height: 21px;
  font-family:Poppins;
  margin:0px;
  margin-bottom:5px;
}

.light-header p {
  color:#333542;
  font-size:16px;
  font-weight:600;
  line-height: 24px;
  font-family:Poppins;
  margin:0px;
}

.bottomnav {
  text-align:center;
  cursor:pointer;
}

.bottomnav p {
  margin:0px;
}

.major-contents {
  margin-bottom:150px;
}

.major-contents .title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  margin-top:21px;
  letter-spacing: 0.02em;
  margin-bottom:20px;
  color: #100C57;
}

.each-content {
  padding:21px;
  margin-bottom:5px;
  background: #FFFFFF;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each-content h6 {
  margin:0px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Secondary/Grey/600 */

color: #A3AED0;
}

.each-content h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.02em;
  
  /* Secondary/Dark Grey/900 */
  margin:0px;
  color: #1B2559;
}

.appbar-wrap {
  display:flex;
  justify-content:space-between;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding:16px 45px 13px;
}

@media (max-width:768px) {
  .appbar-wrap {
    padding:15px 16px 13px;
  }
}